@import 'tailwindcss';
body {
	position: relative;
	background-color: rgb(0, 1, 27);
	overflow-x: hidden;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	color: white;
}

.AddWForm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	#W\,T\,E > * {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		row-gap: 0.25rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	#ExplainList {
		scrollbar-color: transparent transparent;
		::-webkit-scrollbar {
			display: none;
		}
	}
	ul > li {
		position: relative;
	}
	.notiContainer {
		height: 100%;
		position: absolute;
		right: 0;
		display: block;
		> * {
			border-radius: 1rem;
			height: 75%;
			overflow-x: hidden;
			overflow-y: scroll;
			scrollbar-color: #838383 transparent;
			.notifications {
				-webkit-animation: appear 500ms ease-out forwards;
				animation: appear 500ms ease-out forwards;
			}
		}
	}
}

@-webkit-keyframes appear {
	from {
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		opacity: 100;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		opacity: 100;
		-webkit-transform: none;
		transform: none;
	}
}
